### Harmonizing Data

In [2]:
import pandas as pd
import pymysql
import sqlalchemy as sa
from datetime import datetime, timedelta
import numpy as np
import timeit
import inventorize as inv
from scipy.stats import norm

In [3]:
engine= sa.create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user= "root",pw= "230899",db= "mango"))

In [4]:
# Get data from database

stocks_three_month= pd.read_sql("""SELECT * from mango.mango_stocks WHERE DATE(Date)<= 
(select max(DATE(Date)) from mango.mango_stocks) AND 
DATE(Date)>= (select max(DATE(Date))- interval 90 DAY from mango.mango_stocks);""",engine)

sales_two_years= pd.read_sql("""SELECT * from mango.mango_sales WHERE DATE(Date)<= 
(select max(DATE(Date)) from mango.mango_sales) AND 
DATE(Date)>= (select max(DATE(Date))- interval 1400 DAY from mango.mango_sales);""",engine)

orders= pd.read_sql("""SELECT * from mango.mango_orders WHERE DATE(Date)<= 
(select max(DATE(Date)) from mango.mango_orders) AND 
DATE(Date)>= (select max(DATE(Date))- interval 10 DAY from mango.mango_orders);""",engine)

sales_three_month=  pd.read_sql("""SELECT * from mango.mango_sales WHERE DATE(Date)<= 
(select max(DATE(Date)) from mango.mango_sales) AND 
DATE(Date)>= (select max(DATE(Date))- interval 90 DAY from mango.mango_sales);""",engine)

In [5]:
# Delete Index
stocks_three_month.drop('index', axis=1, inplace=True)
sales_three_month.drop('index', axis=1, inplace=True)
orders.drop('index', axis=1, inplace=True)
sales_two_years.drop('index', axis=1, inplace=True)

In [6]:
# Parsing Date
stocks_three_month['Date']=pd.to_datetime(stocks_three_month['Date'])
sales_three_month['Date']=pd.to_datetime(sales_three_month['Date'])
orders['Date']=pd.to_datetime(orders['Date'])
sales_two_years['Date']=pd.to_datetime(sales_two_years['Date'])

In [7]:
# Creating Label
stocks_three_month['label']= (stocks_three_month['description']+ '_'+ stocks_three_month['size']+'_'+stocks_three_month['color']+'_'+stocks_three_month['section']+'_'+stocks_three_month['subfamily']+'_'+stocks_three_month['brand'])
orders['label']= (orders['description']+ '_'+ orders['size']+'_'+orders['color']+'_'+orders['section']+'_'+orders['subfamily']+'_'+orders['brand'])
sales_three_month['label']= (sales_three_month['description']+ '_'+ sales_three_month['size']+'_'+sales_three_month['color']+'_'+sales_three_month['section']+'_'+sales_three_month['subfamily']+'_'+sales_three_month['brand'])
sales_two_years['label']= (sales_two_years['description']+ '_'+ sales_two_years['size']+'_'+sales_two_years['color']+'_'+sales_two_years['section']+'_'+sales_two_years['subfamily']+'_'+sales_two_years['brand'])

In [8]:
# Grouping by label and date
sales_three_month= sales_three_month.groupby(['label','Date']).agg(sales= ('Qty',np.sum)).reset_index()

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\564044215.py:2: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sales_three_month= sales_three_month.groupby(['label','Date']).agg(sales= ('Qty',np.sum)).reset_index()

### Seasonility

In [9]:
# add month and year column
sales_two_years['month']=sales_two_years['Date'].dt.month
sales_two_years['year']=sales_two_years['Date'].dt.year

In [10]:
# Create average category
average_category= (sales_two_years.groupby(['month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['section','subfamily']).agg(average_category= ('sales',np.mean)).reset_index())

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\396941317.py:2: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  average_category= (sales_two_years.groupby(['month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['section','subfamily']).agg(average_category= ('sales',np.mean)).reset_index())
C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\396941317.py:2: FutureWarning: The provided callable <function mean at 0x000002787FD47BA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  average_category= (sales_two_years.groupby(['month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['section','subfamily']).agg(average_category= ('sales',np.mean)).reset_index())

In [11]:
# Create average monthly
average_monthly=(sales_two_years.groupby(['year','month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['month','section','subfamily']).agg(average_monthly= ('sales',np.mean)).reset_index())

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\1076800566.py:2: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  average_monthly=(sales_two_years.groupby(['year','month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['month','section','subfamily']).agg(average_monthly= ('sales',np.mean)).reset_index())
C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\1076800566.py:2: FutureWarning: The provided callable <function mean at 0x000002787FD47BA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  average_monthly=(sales_two_years.groupby(['year','month','section','subfamily']).agg(sales= ('Qty',np.sum)).reset_index().groupby(['month','section','subfamily']).agg(average_monthly= ('sales',np.mean)).reset_index())

In [12]:
# Combine category average and month average
seasonality= pd.merge(average_monthly,average_category,how='outer')

In [82]:
seasonality['seasonality']= seasonality['average_monthly']/seasonality['average_category']
seasonality= seasonality.loc[seasonality.month== (datetime.now()+timedelta(days=10)).month,:].reset_index()

### Calculating beginning and ending inventory

In [14]:
stocks_three_month['beginning']= stocks_three_month['Inventory']
stocks_three_month.drop('Inventory',axis=1, inplace= True)

In [15]:
stocks_three_month['ending']= stocks_three_month.groupby('label')['beginning'].transform(lambda x: x.shift(-1))

### Stock status

In [16]:
dataset= stocks_three_month.copy()

In [17]:
dataset= pd.merge(dataset,sales_three_month,how='outer',on= ['Date','label'])

In [18]:
dataset.fillna(0,inplace=True)

In [20]:
dataset['recieved']= dataset['ending']+ dataset['sales']- dataset['beginning']

In [21]:
dataset

,Date,Key,description,size,color,section,subfamily,brand,label,beginning,ending,sales,recieved
0,2019-10-27,item 1000_13_White_swimming_shorts_Delphine K...,item 1000,13,White,swimming,shorts,Delphine Kemmer,item 1000_13_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0
1,2019-10-27,item 1000_15_White_swimming_shorts_Delphine K...,item 1000,15,White,swimming,shorts,Delphine Kemmer,item 1000_15_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0
2,2019-10-27,item 1000_16_White_swimming_shorts_Delphine K...,item 1000,16,White,swimming,shorts,Delphine Kemmer,item 1000_16_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0
3,2019-10-27,item 1000_18_White_swimming_shorts_Delphine K...,item 1000,18,White,swimming,shorts,Delphine Kemmer,item 1000_18_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0
4,2019-10-27,item 1001_large_Pink_swimming_tops_Delphine K...,item 1001,large,Pink,swimming,tops,Delphine Kemmer,item 1001_large_Pink_swimming_tops_Delphine K...,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755648,2020-01-25,item 999_Standard_Standard_outing_Pefumes_Mal...,item 999,Standard,Standard,outing,Pefumes,Malou Heilig,item 999_Standard_Standard_outing_Pefumes_Mal...,9.0,0.0,0.0,-9.0
1755649,2020-01-25,item 99_Standard_Standard_outing_Pefumes_Lati...,item 99,Standard,Standard,outing,Pefumes,Latife Meijerman,item 99_Standard_Standard_outing_Pefumes_Lati...,7.0,0.0,0.0,-7.0
1755650,2020-01-25,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,item 9,small,Blue,outdoors,jackets,Elisa Rodriguez,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,4.0,0.0,0.0,-4.0
1755651,2020-01-25,item 9_small_Green_outdoors_jackets_Elisa Rod...,item 9,small,Green,outdoors,jackets,Elisa Rodriguez,item 9_small_Green_outdoors_jackets_Elisa Rod...,9.0,0.0,0.0,-9.0
1755652,2020-01-25,item 9_small_red_outdoors_jackets_Elisa Rodri...,item 9,small,red,outdoors,jackets,Elisa Rodriguez,item 9_small_red_outdoors_jackets_Elisa Rodri...,2.0,0.0,0.0,-2.0

In [22]:
# Create status function

def stock_status(data):
    if((data.beginning <= 0) & (data.sales==0)):
        a= 'out_of_stock'
    elif ((data.beginning <= 0) & (data.sales==0) & (data.recieved <=0)):
        a= 'out_of_stock'
    elif ((data.beginning > 0) & (data.sales==0) ):
        a= 'no sales'
    elif (data.sales >0):
        a= 'selling day'
    else :
        a= 'Qustion Mark!'
    return a

In [25]:
dataset['status']= dataset.apply(stock_status,axis=1)

### In transit items

In [28]:
sales_two_years

,Date,Qty,List_price,Promotion,Cost,price_paid,order_no,brand,description,supplier,subfamily,section,size,color,label,month,year
0,2016-03-26,1,395.200000,0.125,91.099,345.800000,AB7552131,Elisa Rodriguez,item 162,Saana Besten,jackets,outdoors,15,Black,item 162_15_Black_outdoors_jackets_Elisa Rodr...,3,2016
1,2016-03-26,1,95.200000,0.125,16.479,83.300000,AB7552131,Elisa Rodriguez,item 208,Saana Besten,jackets,outdoors,small,Blue,item 208_small_Blue_outdoors_jackets_Elisa Ro...,3,2016
2,2016-03-26,1,325.200000,0.000,77.319,325.200000,AB7552921,Latife Meijerman,item 1733,Eemeli Ertürk,shorts,swimming,14,Black,item 1733_14_Black_swimming_shorts_Latife Mei...,3,2016
3,2016-03-26,1,130.200000,0.000,22.394,130.200000,AB7552321,Norbert Van der Mierden,item 1908,Nora Petersen,tops,swimming,15,Blue,item 1908_15_Blue_swimming_tops_Norbert Van d...,3,2016
4,2016-03-26,1,165.200000,0.000,41.049,165.200000,AB73399991,Malou Heilig,item 758,Sara جعفری,shorts,swimming,13,Blue,item 758_13_Blue_swimming_shorts_Malou Heilig,3,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194758,2020-01-25,1,100.200000,0.000,25.319,100.200000,AB73124121,Norbert Van der Mierden,item 3274,Nora Petersen,shorts,swimming,Medium,Black,item 3274_Medium_Black_swimming_shorts_Norber...,1,2020
194759,2020-01-25,1,119.247619,0.040,31.494,114.477714,AB73125321,Norbert Van der Mierden,item 5052,Nora Petersen,shorts,swimming,14,Black,item 5052_14_Black_swimming_shorts_Norbert Va...,1,2020
194760,2020-01-25,1,189.723810,0.040,66.724,182.134858,AB73125321,Micheal Korol,item 5262,Angie Myers,Pefumes,outing,Standard,Standard,item 5262_Standard_Standard_outing_Pefumes_Mi...,1,2020
194761,2020-01-25,1,176.390476,0.040,50.084,169.334857,AB73125321,Terri da Rosa,item 5107,Matias Fernandes,Pefumes,outing,Standard,Standard,item 5107_Standard_Standard_outing_Pefumes_Te...,1,2020
194762,2020-01-25,1,180.200000,0.000,45.469,180.200000,AB75205721,Ramon Wagner,item 5842,یاسمن Drok,jackets,outdoors,Xlarge,Black,item 5842_Xlarge_Black_outdoors_jackets_Ramon...,1,2020

In [29]:
# Create revenue and profit column
sales_two_years['revenue']=sales_two_years['price_paid']/sales_two_years['Qty']
sales_two_years['profit']= (sales_two_years['price_paid']/sales_two_years['Qty'])- sales_two_years['Cost']

In [31]:
product_attributes= sales_two_years.groupby('label').agg(Cost= ('Cost',np.mean),revenue= ('revenue',np.mean),profit= ('profit',np.mean))

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\2177958703.py:1: FutureWarning: The provided callable <function mean at 0x000002787FD47BA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  product_attributes= sales_two_years.groupby('label').agg(Cost= ('Cost',np.mean),revenue= ('revenue',np.mean),profit= ('profit',np.mean))
C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\2177958703.py:1: FutureWarning: The provided callable <function mean at 0x000002787FD47BA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  product_attributes= sales_two_years.groupby('label').agg(Cost= ('Cost',np.mean),revenue= ('revenue',np.mean),profit= ('profit',np.mean))

In [32]:
product_attributes

,Cost,revenue,profit
label,,,
item 1002_XXLARGE_Red_swimming_shorts_Malou Heilig,49.824,158.912821,109.088821
item 1002_Xlarge_Green_swimming_shorts_Malou Heilig,49.824,170.800000,120.976000
item 1002_small_Blue_swimming_shorts_Malou Heilig,50.409,195.200000,144.791000
item 1002_small_Red_swimming_shorts_Malou Heilig,49.824,152.656410,102.832410
item 1003_Medium_Blue_outdoors_jackets_Noam Lacroix,358.444,918.913334,560.469334
...,...,...,...
item 999_Standard_Standard_outing_Pefumes_Malou Heilig,41.049,133.912121,92.863121
item 99_Standard_Standard_outing_Pefumes_Latife Meijerman,21.419,97.357967,75.938967
item 9_small_Blue_outdoors_jackets_Elisa Rodriguez,16.739,87.337780,70.598780
item 9_small_Green_outdoors_jackets_Elisa Rodriguez,16.739,83.798289,67.059289
item 9_small_red_outdoors_jackets_Elisa Rodriguez,16.739,93.150556,76.411556

In [30]:
sales_two_years

,Date,Qty,List_price,Promotion,Cost,price_paid,order_no,brand,description,supplier,subfamily,section,size,color,label,month,year,revenue,profit
0,2016-03-26,1,395.200000,0.125,91.099,345.800000,AB7552131,Elisa Rodriguez,item 162,Saana Besten,jackets,outdoors,15,Black,item 162_15_Black_outdoors_jackets_Elisa Rodr...,3,2016,345.800000,254.701000
1,2016-03-26,1,95.200000,0.125,16.479,83.300000,AB7552131,Elisa Rodriguez,item 208,Saana Besten,jackets,outdoors,small,Blue,item 208_small_Blue_outdoors_jackets_Elisa Ro...,3,2016,83.300000,66.821000
2,2016-03-26,1,325.200000,0.000,77.319,325.200000,AB7552921,Latife Meijerman,item 1733,Eemeli Ertürk,shorts,swimming,14,Black,item 1733_14_Black_swimming_shorts_Latife Mei...,3,2016,325.200000,247.881000
3,2016-03-26,1,130.200000,0.000,22.394,130.200000,AB7552321,Norbert Van der Mierden,item 1908,Nora Petersen,tops,swimming,15,Blue,item 1908_15_Blue_swimming_tops_Norbert Van d...,3,2016,130.200000,107.806000
4,2016-03-26,1,165.200000,0.000,41.049,165.200000,AB73399991,Malou Heilig,item 758,Sara جعفری,shorts,swimming,13,Blue,item 758_13_Blue_swimming_shorts_Malou Heilig,3,2016,165.200000,124.151000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194758,2020-01-25,1,100.200000,0.000,25.319,100.200000,AB73124121,Norbert Van der Mierden,item 3274,Nora Petersen,shorts,swimming,Medium,Black,item 3274_Medium_Black_swimming_shorts_Norber...,1,2020,100.200000,74.881000
194759,2020-01-25,1,119.247619,0.040,31.494,114.477714,AB73125321,Norbert Van der Mierden,item 5052,Nora Petersen,shorts,swimming,14,Black,item 5052_14_Black_swimming_shorts_Norbert Va...,1,2020,114.477714,82.983714
194760,2020-01-25,1,189.723810,0.040,66.724,182.134858,AB73125321,Micheal Korol,item 5262,Angie Myers,Pefumes,outing,Standard,Standard,item 5262_Standard_Standard_outing_Pefumes_Mi...,1,2020,182.134858,115.410858
194761,2020-01-25,1,176.390476,0.040,50.084,169.334857,AB73125321,Terri da Rosa,item 5107,Matias Fernandes,Pefumes,outing,Standard,Standard,item 5107_Standard_Standard_outing_Pefumes_Te...,1,2020,169.334857,119.250857
194762,2020-01-25,1,180.200000,0.000,45.469,180.200000,AB75205721,Ramon Wagner,item 5842,یاسمن Drok,jackets,outdoors,Xlarge,Black,item 5842_Xlarge_Black_outdoors_jackets_Ramon...,1,2020,180.200000,134.731000

In [33]:
dataset

,Date,Key,description,size,color,section,subfamily,brand,label,beginning,ending,sales,recieved,status
0,2019-10-27,item 1000_13_White_swimming_shorts_Delphine K...,item 1000,13,White,swimming,shorts,Delphine Kemmer,item 1000_13_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock
1,2019-10-27,item 1000_15_White_swimming_shorts_Delphine K...,item 1000,15,White,swimming,shorts,Delphine Kemmer,item 1000_15_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock
2,2019-10-27,item 1000_16_White_swimming_shorts_Delphine K...,item 1000,16,White,swimming,shorts,Delphine Kemmer,item 1000_16_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock
3,2019-10-27,item 1000_18_White_swimming_shorts_Delphine K...,item 1000,18,White,swimming,shorts,Delphine Kemmer,item 1000_18_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock
4,2019-10-27,item 1001_large_Pink_swimming_tops_Delphine K...,item 1001,large,Pink,swimming,tops,Delphine Kemmer,item 1001_large_Pink_swimming_tops_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755648,2020-01-25,item 999_Standard_Standard_outing_Pefumes_Mal...,item 999,Standard,Standard,outing,Pefumes,Malou Heilig,item 999_Standard_Standard_outing_Pefumes_Mal...,9.0,0.0,0.0,-9.0,no sales
1755649,2020-01-25,item 99_Standard_Standard_outing_Pefumes_Lati...,item 99,Standard,Standard,outing,Pefumes,Latife Meijerman,item 99_Standard_Standard_outing_Pefumes_Lati...,7.0,0.0,0.0,-7.0,no sales
1755650,2020-01-25,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,item 9,small,Blue,outdoors,jackets,Elisa Rodriguez,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,4.0,0.0,0.0,-4.0,no sales
1755651,2020-01-25,item 9_small_Green_outdoors_jackets_Elisa Rod...,item 9,small,Green,outdoors,jackets,Elisa Rodriguez,item 9_small_Green_outdoors_jackets_Elisa Rod...,9.0,0.0,0.0,-9.0,no sales
1755652,2020-01-25,item 9_small_red_outdoors_jackets_Elisa Rodri...,item 9,small,red,outdoors,jackets,Elisa Rodriguez,item 9_small_red_outdoors_jackets_Elisa Rodri...,2.0,0.0,0.0,-2.0,no sales

In [34]:
# Combine dataset data with product attributes
dataset= pd.merge(dataset,product_attributes,how='left',on= 'label')

In [39]:
# Total requested in 10
max_date_requested= max(orders['Date'])
min_date_requested= max_date_requested- timedelta(days=10) 
leadtime=10

total_requested= (orders[(orders['Date']<= max_date_requested)&(orders['Date']>= min_date_requested)].groupby('label').agg(total_requested= ('Qty',np.sum)).reset_index())

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\3472915307.py:5: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  total_requested= (orders[(orders['Date']<= max_date_requested)&(orders['Date']>= min_date_requested)].groupby('label').agg(total_requested= ('Qty',np.sum)).reset_index())

### Curent stock

In [42]:
current_stock= dataset[dataset['Date']== max(dataset['Date'])].groupby('label').agg(beginning= ('beginning',np.sum)).reset_index()

current_stock.rename(columns= {'beginning': 'current_stock'},inplace=True)

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\2432439054.py:1: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  current_stock= dataset[dataset['Date']== max(dataset['Date'])].groupby('label').agg(beginning= ('beginning',np.sum)).reset_index()

### ABC analysis

In [44]:
for_abc= dataset.groupby('label').agg(sales= ('sales',np.sum),profit= ('profit',np.mean)).sort_values(by= 'sales',ascending=False).reset_index()
for_abc.fillna(0,inplace=True)

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\1938767699.py:1: FutureWarning: The provided callable <function sum at 0x000002787FD467A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  for_abc= dataset.groupby('label').agg(sales= ('sales',np.sum),profit= ('profit',np.mean)).sort_values(by= 'sales',ascending=False).reset_index()
C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\1938767699.py:1: FutureWarning: The provided callable <function mean at 0x000002787FD47BA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  for_abc= dataset.groupby('label').agg(sales= ('sales',np.sum),profit= ('profit',np.mean)).sort_values(by= 'sales',ascending=False).reset_index()

In [46]:
ABC= inv.productmix(for_abc['label'], for_abc['sales'], for_abc['profit'])

In [48]:
# Movement mapping

mapping_drivers= {'A_A': 'Volume and margin driver',
                  'A_B': 'Volume driver',
                  'A_C': 'Volume driver',
                  'C_A': 'Margin driver',
                  'B_A': 'Margin driver',
                  'B_C': 'Regulars',
                  'C_B': 'Regulars',
                  'B_B': 'Regulars',
                  'C_C': 'Slow moving'
                  }

In [49]:
# Implementing mapping
ABC['drivers']= ABC['product_mix'].map(mapping_drivers)
ABC.rename(columns= {'skus': 'label'},inplace=True)

### Inventory calculations

In [55]:
dataset

,Date,Key,description,size,color,section,subfamily,brand,label,beginning,ending,sales,recieved,status,Cost,revenue,profit
0,2019-10-27,item 1000_13_White_swimming_shorts_Delphine K...,item 1000,13,White,swimming,shorts,Delphine Kemmer,item 1000_13_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock,NaN,NaN,NaN
1,2019-10-27,item 1000_15_White_swimming_shorts_Delphine K...,item 1000,15,White,swimming,shorts,Delphine Kemmer,item 1000_15_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock,NaN,NaN,NaN
2,2019-10-27,item 1000_16_White_swimming_shorts_Delphine K...,item 1000,16,White,swimming,shorts,Delphine Kemmer,item 1000_16_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock,NaN,NaN,NaN
3,2019-10-27,item 1000_18_White_swimming_shorts_Delphine K...,item 1000,18,White,swimming,shorts,Delphine Kemmer,item 1000_18_White_swimming_shorts_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock,NaN,NaN,NaN
4,2019-10-27,item 1001_large_Pink_swimming_tops_Delphine K...,item 1001,large,Pink,swimming,tops,Delphine Kemmer,item 1001_large_Pink_swimming_tops_Delphine K...,0.0,0.0,0.0,0.0,out_of_stock,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755648,2020-01-25,item 999_Standard_Standard_outing_Pefumes_Mal...,item 999,Standard,Standard,outing,Pefumes,Malou Heilig,item 999_Standard_Standard_outing_Pefumes_Mal...,9.0,0.0,0.0,-9.0,no sales,41.049,133.912121,92.863121
1755649,2020-01-25,item 99_Standard_Standard_outing_Pefumes_Lati...,item 99,Standard,Standard,outing,Pefumes,Latife Meijerman,item 99_Standard_Standard_outing_Pefumes_Lati...,7.0,0.0,0.0,-7.0,no sales,21.419,97.357967,75.938967
1755650,2020-01-25,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,item 9,small,Blue,outdoors,jackets,Elisa Rodriguez,item 9_small_Blue_outdoors_jackets_Elisa Rodr...,4.0,0.0,0.0,-4.0,no sales,16.739,87.337780,70.598780
1755651,2020-01-25,item 9_small_Green_outdoors_jackets_Elisa Rod...,item 9,small,Green,outdoors,jackets,Elisa Rodriguez,item 9_small_Green_outdoors_jackets_Elisa Rod...,9.0,0.0,0.0,-9.0,no sales,16.739,83.798289,67.059289
1755652,2020-01-25,item 9_small_red_outdoors_jackets_Elisa Rodri...,item 9,small,red,outdoors,jackets,Elisa Rodriguez,item 9_small_red_outdoors_jackets_Elisa Rodri...,2.0,0.0,0.0,-2.0,no sales,16.739,93.150556,76.411556

In [56]:
inventory_calculations= dataset.groupby('label').agg(demand_average= ('sales',lambda x: x[dataset['status'] != 'out_of_stock'].mean()),
                                                     sd= ('sales','std'),
                                                     days_of_sales= ('sales',lambda x: x[dataset['sales']>0].count()),
                                                     days_of_stock= ('beginning',lambda x: x[dataset['beginning']>0].count()))

### Correction

In [58]:
inventory_calculations.reset_index(inplace=True)
inventory_calculations['selling_rate_days']= inventory_calculations['days_of_sales']/inventory_calculations['days_of_stock']

In [60]:
ABC

,label,sales,revenue,sales_mix,comulative_sales,revenue_mix,comulative_revenue,sales_category,revenue_category,product_mix,drivers
2795,item 3124_Standard_Standard_outing_Pefumes_Li...,1.0,1706.928579,0.000076,0.985874,0.000672,0.000672,C,A,C_A,Margin driver
2852,item 5950_Standard_Standard_outing_Pefumes_Ot...,1.0,1686.309571,0.000076,0.990226,0.000664,0.001336,C,A,C_A,Margin driver
2674,item 5914_12_Blue_outdoors_jackets_Alexandre ...,1.0,1506.114095,0.000076,0.976634,0.000593,0.001928,C,A,C_A,Margin driver
2611,item 5914_Xlarge_Blue_outdoors_jackets_Alexan...,1.0,1506.114095,0.000076,0.971823,0.000593,0.002521,C,A,C_A,Margin driver
2610,item 5914_Medium_Blue_outdoors_jackets_Alexan...,1.0,1506.114095,0.000076,0.971747,0.000593,0.003114,C,A,C_A,Margin driver
...,...,...,...,...,...,...,...,...,...,...,...
19140,item 940_15_Black_fitness_shorts_Liron Meyer,0.0,-205.319000,0.000000,1.000000,-0.000081,1.000550,C,C,C_C,Slow moving
19138,item 940_13_Black_fitness_shorts_Liron Meyer,0.0,-205.319000,0.000000,1.000000,-0.000081,1.000470,C,C,C_C,Slow moving
19139,item 940_14_Black_fitness_shorts_Liron Meyer,0.0,-207.182574,0.000000,1.000000,-0.000082,1.000388,C,C,C_C,Slow moving
5424,item 2417_small_Black_fitness_shorts_Liron Meyer,0.0,-485.194833,0.000000,1.000000,-0.000191,1.000197,C,C,C_C,Slow moving
8018,item 3162_small_Black_fitness_shorts_Liron Meyer,0.0,-500.835634,0.000000,1.000000,-0.000197,1.000000,C,C,C_C,Slow moving

In [61]:
inventory_calculations= pd.merge(inventory_calculations,ABC[['label','sales','revenue','product_mix','drivers']],how='left')
inventory_calculations.rename(columns={'revenue': 'unit_profit','sales': 'three_month_sales'},inplace=True)

### Last stock & hand date

In [63]:
inventory_calculations['three_month_profit']= inventory_calculations['unit_profit']* inventory_calculations['three_month_sales']

In [65]:
last_stock_onhand= dataset.groupby('label').agg(last_stock_on_hand_Date= ('Date', lambda x: x[dataset.beginning >0 ].max())).reset_index()
last_sale_date= sales_two_years.groupby('label').agg(last_sales_Date= ('Date', lambda x: x[sales_two_years.Qty >0 ].max())).reset_index()

In [68]:
inventory_calculations= pd.merge(inventory_calculations,total_requested,how='left')
inventory_calculations= pd.merge(inventory_calculations,current_stock,how='left')
inventory_calculations= pd.merge(inventory_calculations,last_stock_onhand,how='left')
inventory_calculations= pd.merge(inventory_calculations,last_sale_date,how='left')

### Adjusting of seasonality

In [70]:
inventory_calculations= pd.merge(inventory_calculations,product_attributes.reset_index()[['label','revenue','Cost']],how='left')

In [72]:
inventory_calculations.rename(columns={'Cost': 'stock_cost'},inplace=True)

In [74]:
inventory_calculations['three_month_revenue']= inventory_calculations['revenue']* inventory_calculations['three_month_sales']

In [76]:
inventory_calculations[['description','size','color','section','subfamily','brand']]=inventory_calculations['label'].str.split('_',expand=True)

In [83]:
inventory_calculations= pd.merge(inventory_calculations,seasonality[['section','subfamily','seasonality']],how='left')

In [85]:
# normailizing not availabele seasonality and adjusting for seasonality
inventory_calculations['seasonality'][inventory_calculations['seasonality'].isnull()]=1
inventory_calculations['adjusted_average']= inventory_calculations['demand_average']* inventory_calculations['seasonality']

# Demand leadtime
inventory_calculations['demand_leadtime']= inventory_calculations['adjusted_average']* leadtime
inventory_calculations['lt']= 10

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\272448887.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  inventory_calculations['seasonality'][inventory_calculations['seasonality'].isnull()]=1

### Service level & min max

In [87]:
inventory_calculations.drivers.unique()

array(['Slow moving', 'Regulars', 'Margin driver',
       'Volume and margin driver', 'Volume driver'], dtype=object)

In [88]:
service_mapping={'Volume and margin driver': 0.95,
                 'Margiin drivers': 0.85,
                 'Regulars': 0.65,
                 'Slow moving': 0.5,
                 'Volume drivers': 0.85
                 
    }

In [90]:
inventory_calculations['service_level']= inventory_calculations.drivers.map(service_mapping)
inventory_calculations['sd'][inventory_calculations.sd.isnull()]=0
inventory_calculations['sigmadl']= inventory_calculations['sd'] * np.sqrt(inventory_calculations['sd'])
inventory_calculations['saftey_stock']= inventory_calculations['sigmadl'] * norm.ppf(inventory_calculations['service_level'])
inventory_calculations['min']= np.floor(inventory_calculations['demand_leadtime']+inventory_calculations['saftey_stock'])
inventory_calculations['max']= np.floor(inventory_calculations['min']*1.6)

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\3349986098.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  inventory_calculations['sd'][inventory_calculations.sd.isnull()]=0

In [92]:
inventory_calculations.fillna(0,inplace= True)

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\2531966166.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  inventory_calculations.fillna(0,inplace= True)

### Reordering policy

In [94]:
def reordering(data):
    if( (data['current_stock']+ data['total_requested'])<= data['min']):
        return (data['max']- (data['current_stock']+ data['total_requested']))
    else :
         return 0
     
inventory_calculations['requested_to_order'] = inventory_calculations.apply(reordering,axis=1)

### Finalizing alghoritm

In [96]:
inventory_calculations['current_stock_value']=inventory_calculations['stock_cost']* inventory_calculations['current_stock']
inventory_calculations['ordered_stock_value']=inventory_calculations['stock_cost']* inventory_calculations['requested_to_order']
inventory_calculations['three_month_revenue']= inventory_calculations['revenue']*inventory_calculations['three_month_sales']
inventory_calculations['report_date']= datetime.now().strftime('%Y-%m-%d')
inventory_calculations['selling_rate_days'][np.isinf(inventory_calculations['selling_rate_days'])]=0
inventory_calculations[inventory_calculations.three_month_sales >0]['current_stock'].sum()

C:\Users\Fakhrul\AppData\Local\Temp\ipykernel_8636\1326731719.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  inventory_calculations['selling_rate_days'][np.isinf(inventory_calculations['selling_rate_days'])]=0

19384

In [ ]:
inventory_calculations.to_sql('stocks_report', con=engine,if_exists='append',chunksize=1000)

In [100]:
engine.dispose()